@page "/game-room"
@page "/game-room/{InviteCode}"

@using System.Linq
@using System.Security.Claims
@using ApiContracts
@using BlazorApp.Services

@inject NavigationManager Nav
@inject IGameService SignalRService

<AuthorizeView>
    <Authorized>

        @if (!_connectedToServer)
        {
            <div class="text-center mt-5">
                <h3>@_connectionStatus</h3>
            </div>
        }
        else
        {
            <div class="d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <h1>Player X</h1>
                    <label>@_playerXName</label>
                    <label>@_playerXId</label>
                </div>
                <div class="tictactoebox">
                    <div class="board" role="grid" aria-label="Tic Tac Toe board">
                        @for (int i = 0; i < 9; i++)
                        {
                            var index = i;   // <<< EZ A SOR A LÉNYEG

                            <button class="cell @(_winningCells?.Contains(index) == true ? "winning-cell" : "")"
                                    role="gridcell"
                                    aria-label="Cell @index"
                                    @onclick="@(async () => await OnCellClickAsync(index))"
                                    disabled="@(_cellsDisabled[index])">
                                <span class="mark">@_marks[index]</span>
                            </button>
                        }
                    </div>
                    <div class="controls">
                        <div class="status">@_statusMessage</div>
                        <div class="timer" style="color:@TimerColor;">
                            Time left: @TimerDisplay
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <h1>Player O</h1>
                    <label>@_playerOName</label>
                    <label>@_playerOId</label>
                </div>
            </div>

            if (_gameEnded)
            {
                <div class="overlay">
                    <div class="end-card">
                        <h2>@_endMessage</h2>

                        <button class="btn btn-primary m-2" @onclick="RequestReplayAsync">
                            Replay
                        </button>

                        <button class="btn btn-secondary m-2" @onclick="GoToMenu">
                            Main Menu
                        </button>
                    </div>
                </div>
            }
        }
    </Authorized>
    <NotAuthorized>
        <p>ACCESS DENIED: You are not logged in.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    
    [Parameter] public string? InviteCode { get; set; }
    [CascadingParameter] public Task<AuthenticationState>? State { get; set; }
    private string? _userIdAsString;
    private string? _username;
    private bool _connectedToServer;
    private string _connectionStatus = "Connecting to logic server...";

    private string[] _marks = Array.Empty<string>();
    private bool[] _cellsDisabled = Array.Empty<bool>();
    private string _statusMessage = "Waiting for opponent...";
    private string _endMessage = "";

    private int _gameId;
    private int _currentPlayerId;
    private int _playerXId;
    private string? _playerXName;
    private int? _playerOId;
    private string? _playerOName;
    private int _currentTurnPlayerId;
    private int[]? _winningCells;
    private bool _gameEnded;
    
    private System.Timers.Timer? _moveTimer;
    private int _secondsLeft = 59; // 59 seconds countdown
    private string TimerDisplay => $"{_secondsLeft / 60:D1}:{_secondsLeft % 60:D2}";
    private string TimerColor => _secondsLeft < 10 ? "red" : "black";

    private void GoToMenu()
    {
        Nav.NavigateTo("/");
    }
    
    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authenticationState = await State;
        ClaimsPrincipal principal = authenticationState.User;
        if (principal.Identity is null || !principal.Identity.IsAuthenticated)
        {
            // the user is not logged in
            return;
        }

        _username = principal.Identity.Name;
        IEnumerable<Claim> claims = principal.Claims;
        _userIdAsString = claims.Single(c => c.Type == ClaimTypes.NameIdentifier).Value;
        _currentPlayerId = Convert.ToInt32(_userIdAsString);

        // 9x cells
        _marks = Enumerable.Repeat(string.Empty, 9).ToArray();
        _cellsDisabled = Enumerable.Repeat(false, 9).ToArray();

        try
        {
            _connectionStatus = "Connecting to logic server...";
            
            // subscribing to events
            await SignalRService.OnMoveMade(UpdateBoard);
            await SignalRService.OnGameUpdated(OnGameUpdated);
            await SignalRService.OnGameFinished(OnGameFinished);
            await SignalRService.OnReplayStarted(OnReplayStarted);

            Console.WriteLine("[GameRoom] Starting SignalR...");
            await SignalRService.StartAsync();
            
            GameDto game;
            
            if (!string.IsNullOrWhiteSpace(InviteCode))
            {
                // GUEST: joins with inv code
                Console.WriteLine($"[GameRoom] Joining existing game with invite code {InviteCode}...");
                game = await SignalRService.JoinGameAsync(InviteCode, _currentPlayerId, _username);
            }
            else
            {
                // HOST: creating new game
                Console.WriteLine("[GameRoom] Creating new game...");
                game = await SignalRService.CreateGameAsync(_currentPlayerId, _username);
                Nav.NavigateTo($"/game-room/{game.InviteCode}", forceLoad: false);
            }

            _gameId = game.Id;
            _playerXId = game.PlayerXId;
            _playerOId = game.PlayerOId;
            _playerXName = game.PlayerXName;
            _playerOName = game.PlayerOName;

            if (game.Status == "WaitingForOpponent")
            {
                _statusMessage = $"Invite code: {game.InviteCode}";
            }
            else
            {
                _statusMessage = "Game in progress...";
            }
            
            Console.WriteLine($"[GameRoom] Game ready. Id={_gameId}, Invite={game.InviteCode}");

            _connectedToServer = true;
            _connectionStatus = "Connected!";
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception ex)
        {
            Console.WriteLine("[GameRoom] Could not connect to logic server: " + ex);
            _connectedToServer = false;
            _connectionStatus = "Error: " + ex.Message;
        }
    }

    private async Task OnCellClickAsync(int index)
    {
        Console.WriteLine($"[GameRoom] OnCellClick({index}) called");

        if (!_connectedToServer 
            || index < 0 
            || index >= _marks.Length 
            || _cellsDisabled[index] 
            || _currentTurnPlayerId != _currentPlayerId) // enforce turn
            return;
        
        // optimistically update UI
        _marks[index] = _currentPlayerId == _playerXId ? "X" : "O";
        _cellsDisabled[index] = true;
        _statusMessage = _currentTurnPlayerId == _currentPlayerId
            ? "Your turn!"
            : "Waiting for opponent...";
        await InvokeAsync(StateHasChanged);

        Console.WriteLine($"[GameRoom] Sending move: game={_gameId}, player={_currentPlayerId}, pos={index}");
        await SignalRService.SendMoveAsync(_gameId, _currentPlayerId, index);
    }

    private Task UpdateBoard(MoveDto move)
    {
        Console.WriteLine($"[GameRoom] Move received: game={move.GameId}, player={move.PlayerId}, pos={move.Position}");

        string mark = move.PlayerId == _playerXId ? "X" : "O";

        if (move.Position >= 0 && move.Position < _marks.Length)
        {
            _marks[move.Position] = mark;
            _cellsDisabled[move.Position] = true;
        }

        _statusMessage = _currentTurnPlayerId == _currentPlayerId 
            ? "Your turn!" 
            : "Waiting for opponent...";
        return InvokeAsync(StateHasChanged);
    }

    private Task OnGameUpdated(GameDto game)
    {
        Console.WriteLine("[GameRoom] GameUpdated received");
        _gameId = game.Id;
        _playerXId = game.PlayerXId;
        _playerOId = game.PlayerOId;
        _playerOName = game.PlayerOName;

        for (int i = 0; i < game.Board.Length && i < 9; i++)
        {
            int cell = game.Board[i];
            _marks[i] = cell == 1 ? "X" : cell == 2 ? "O" : string.Empty;
            _cellsDisabled[i] = cell != 0;
        }

        // update winning cells
        _winningCells = game.WinningCells;

        // set next turn
        _currentTurnPlayerId = game.NextPlayerId;

        if (game.Status == "Finished")
        {
            if (game.WinnerId.HasValue)
            {
                string winnerMark =
                    game.WinnerId == _playerXId ? "X" :
                        (_playerOId.HasValue && game.WinnerId == _playerOId.Value ? "O" : "?");
                _statusMessage = $"Game over. {winnerMark} wins!";
            }
            else
            {
                _statusMessage = "Game over. Draw!";
            }

            // disable all cells
            for (int i = 0; i < _cellsDisabled.Length; i++)
                _cellsDisabled[i] = true;

            _endMessage = _statusMessage;
            _gameEnded = true;
        }
        else
        {
            _statusMessage = _currentTurnPlayerId == _currentPlayerId
                ? "Your turn!"
                : "Waiting for opponent...";
        }
        
        // we start the timer
        // it only starts if the game is in progress
        if (game.Status == "InProgress")
        {
            if (_currentTurnPlayerId == _currentPlayerId)
                StartTurnTimer();
            else
                StopTurnTimer();
        }
        else
        {
            
            StopTurnTimer();
        }


        return InvokeAsync(StateHasChanged);
    }


    private Task OnGameFinished(GameDto game)
    {
        if (game.WinnerId.HasValue)
        {
            string winnerMark =
                game.WinnerId == _playerXId ? "X" :
                    (_playerOId.HasValue && game.WinnerId == _playerOId.Value ? "O" : "?");
            _statusMessage = $"Game over. {winnerMark} wins!";
        }
        else
        {
            _statusMessage = "Game over. Draw!";
        }
        
        _winningCells = game.WinningCells;
        
        // disable all cells
        for (int i = 0; i < _cellsDisabled.Length; i++)
            _cellsDisabled[i] = true;
        
        _endMessage = _statusMessage;
        _gameEnded = true;

        return InvokeAsync(StateHasChanged);
    }
    
    private async Task RequestReplayAsync()
    {
        Console.WriteLine("[GameRoom] Replay requested");

        _statusMessage = "Replay requested. Waiting for opponent...";
        _endMessage = _statusMessage;
        _gameEnded = false; // hide overlay while waiting - maybe maybe
        await SignalRService.RequestReplayAsync(_gameId, _currentPlayerId);
        await InvokeAsync(StateHasChanged);
    }
    
    private Task OnReplayStarted(GameDto game)
    {
        Console.WriteLine("[GameRoom] Replay started");

        for (int i = 0; i < 9; i++)
        {
            _marks[i] = string.Empty;
            _cellsDisabled[i] = false;
        }

        _winningCells = null;
        _gameEnded = false;

        _currentTurnPlayerId = game.NextPlayerId;
        _statusMessage = _currentTurnPlayerId == _currentPlayerId
            ? "Your turn!"
            : "Waiting for opponent...";
        
        StopTurnTimer();

        if (game.Status == "InProgress" && _currentTurnPlayerId == _currentPlayerId)
            StartTurnTimer();

        return InvokeAsync(StateHasChanged);
        
    }
    
    private void StartTurnTimer()
    {
        StopTurnTimer(); // ensure no timer is running

        _secondsLeft = 59; // reset to 59 seconds
        _moveTimer = new System.Timers.Timer(1000); // 1 second interval
        _moveTimer.Elapsed += OnTimerElapsed;
        _moveTimer.AutoReset = true;
        _moveTimer.Start();
    }

    private void StopTurnTimer()
    {
        if (_moveTimer != null)
        {
            _moveTimer.Stop();
            _moveTimer.Elapsed -= OnTimerElapsed;
            _moveTimer.Dispose();
            _moveTimer = null;
        }
    }

    private void OnTimerElapsed(object? sender, System.Timers.ElapsedEventArgs e)
    {
        if (_secondsLeft > 0)
        {
            _secondsLeft--;
            InvokeAsync(StateHasChanged); // update UI
        }
        else
        {
            StopTurnTimer();
            Console.WriteLine("[GameRoom] Timer expired!");

            InvokeAsync(async () =>
            {
                try
                {
                   
                    await SignalRService.CheckTimeoutAsync(_gameId);
                }
                catch (Exception ex)
                {
                    Console.WriteLine("[GameRoom] Error during CheckTimeout: " + ex);
                }
            });
        }
    }

}
